@charset "utf-8";

/*リセットCSS
----------------------------------------------------------------*/


/* 要素 フォントサイズ・マージン・パディングをリセット */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}


/* 行の高=フォントサイズ */

body {
    line-height: 1;
}


/* 新規追加要素をブロック要素化 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* ulのマーカー非表示 */

ol,
ul {
    list-style: none;
}


/* 引用符の非表示 */

blockquote,
q {
    quotes: none;
}


/* blockquote要素、q要素の前後にコンテンツ非表示 */

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* フォントサイズ　リセット フォントの縦方向 ベースライン揃え 点線削除 */

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
}


/* ins要素 デフォルトセット 色を変える場合はここで変更 */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* mark要素 デフォルトセット 色やフォントスタイルを変える場合はここで変更 */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}


/* テキスト 打ち消し線 */

del {
    text-decoration: line-through;
}


/* IE　デフォルトで点線を下線表示設定　下線設定 マウスオーバー時 ヘルプカーソル表示可 */

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}


/*　隣接するセルのボーダーを重ねて表示　*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 水平罫線デフォルトリセット */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}


/* 縦方向の揃え 中央揃え */

input,
select {
    vertical-align: middle;
}


/* 画像を縦に並べた時に余白0 */

img {
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}


/*box-sizingを全ブラウザに対応*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    overflow: hidden;
    visibility: hidden;
    height: 0;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

br {
    line-height: inherit;
}


/*【共通】パーツ
----------------------------------------------------------------*/


/* リンク */

a,
a * {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
    -webkit-backface-visibility: hidden;
    /* 追加 */
    backface-visibility: hidden;
    /* 追加 */
}

a:hover,
a:active {
    text-decoration: none;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

img {
    max-width: 100%;
    height: auto;
}


/* 表示切り替え */

#wrapper .sp-display {
    display: none;
}

@media screen and (max-width: 767px) {
    #wrapper .sp-display {
        display: block;
    }
}


/* 配置 */

#wrapper .f_left {
    float: left;
    text-align: center;
    line-height: 2;
}

#wrapper .f_right {
    float: right;
    text-align: center;
    line-height: 2;
}

#wrapper .leftOn {
    text-align: left;
}

#wrapper .rightOn {
    text-align: right;
}

#wrapper .centerOn {
    text-align: center;
}


/*基本設定
----------------------------------------------------------------*/


/* 文字サイズ */

#wrapper .font7 {
    font-size: 0.43em;
}

#wrapper .font8 {
    font-size: 0.5em;
}

#wrapper .font9 {
    font-size: 0.56em;
}

#wrapper .font10 {
    font-size: 0.63em;
}

#wrapper .font11 {
    font-size: 0.688em;
}

#wrapper .font12 {
    font-size: 0.75em;
}

#wrapper .font13 {
    font-size: 0.813em;
}

#wrapper .font14 {
    font-size: 0.88em;
}

#wrapper .font15 {
    font-size: 0.938em;
}

#wrapper .font16 {
    font-size: 1em;
}

#wrapper .font17 {
    font-size: 1.06em;
}

#wrapper .font18 {
    font-size: 1.13em;
}

#wrapper .font19 {
    font-size: 1.19em;
}

#wrapper .font20 {
    font-size: 1.25em;
}

#wrapper .font21 {
    font-size: 1.31em;
}

#wrapper .font22 {
    font-size: 1.38em;
}

#wrapper .font23 {
    font-size: 1.44em;
}

#wrapper .font24 {
    font-size: 1.5em;
}

#wrapper .font25 {
    font-size: 1.56em;
}

#wrapper .font26 {
    font-size: 1.63em;
}

#wrapper .font27 {
    font-size: 1.69em;
}

#wrapper .font28 {
    font-size: 1.75em;
}

#wrapper .font29 {
    font-size: 1.81em;
}

#wrapper .font30 {
    font-size: 1.88em;
}


/* 下余白 */

#wrapper .mb0 {
    margin-bottom: 0px;
}

#wrapper .mb10 {
    margin-bottom: 10px;
}

#wrapper .mb15 {
    margin-bottom: 15px;
}

#wrapper .mb20 {
    margin-bottom: 20px;
}

#wrapper .mb30 {
    margin-bottom: 30px;
}

#wrapper .mb40 {
    margin-bottom: 40px;
}

#wrapper .mb50 {
    margin-bottom: 50px;
}

#wrapper .mb60 {
    margin-bottom: 60px;
}

#wrapper .mb70 {
    margin-bottom: 70px;
}

#wrapper .mb80 {
    margin-bottom: 80px;
}

#wrapper .mb90 {
    margin-bottom: 90px;
}


/* 下余白 */

#wrapper .mt0 {
    margin-top: 0px;
}

#wrapper .mt10 {
    margin-top: 10px;
}

#wrapper .mt15 {
    margin-top: 15px;
}

#wrapper .mt20 {
    margin-top: 20px;
}

#wrapper .mt30 {
    margin-top: 30px;
}

#wrapper .mt40 {
    margin-top: 40px;
}

#wrapper .mt50 {
    margin-top: 50px;
}

#wrapper .mt60 {
    margin-top: 60px;
}

#wrapper .mt70 {
    margin-top: 70px;
}

#wrapper .mt80 {
    margin-top: 80px;
}

#wrapper .mt90 {
    margin-top: 90px;
}


/* 下余白 */

#wrapper .pb0 {
    padding-bottom: 0px;
}

#wrapper .pb10 {
    padding-bottom: 10px;
}

#wrapper .pb15 {
    padding-bottom: 15px;
}

#wrapper .pb20 {
    padding-bottom: 20px;
}

#wrapper .pb30 {
    padding-bottom: 30px;
}

#wrapper .pb40 {
    padding-bottom: 40px;
}

#wrapper .pb50 {
    padding-bottom: 50px;
}

#wrapper .pb60 {
    padding-bottom: 60px;
}

#wrapper .pb70 {
    padding-bottom: 70px;
}

#wrapper .pb80 {
    padding-bottom: 80px;
}

#wrapper .pb90 {
    padding-bottom: 90px;
}

#wrapper .pb100 {
    padding-bottom: 100px;
}

#wrapper .pb110 {
    padding-bottom: 110px;
}

#wrapper .pb120 {
    padding-bottom: 120px;
}

#wrapper .pb130 {
    padding-bottom: 130px;
}

#wrapper .pb140 {
    padding-bottom: 140px;
}

#wrapper .pb150 {
    padding-bottom: 150px;
}

#wrapper .pb160 {
    padding-bottom: 160px;
}

#wrapper .pb170 {
    padding-bottom: 170px;
}


/* 下余白 */

#wrapper .pt0 {
    padding-top: 0px;
}

#wrapper .pt10 {
    padding-top: 10px;
}

#wrapper .pt15 {
    padding-top: 15px;
}

#wrapper .pt20 {
    padding-top: 20px;
}

#wrapper .pt30 {
    padding-top: 30px;
}

#wrapper .pt40 {
    padding-top: 40px;
}

#wrapper .pt50 {
    padding-top: 50px;
}

#wrapper .pt60 {
    padding-top: 60px;
}

#wrapper .pt70 {
    padding-top: 70px;
}

#wrapper .pt80 {
    padding-top: 80px;
}

#wrapper .pt90 {
    padding-top: 90px;
}

#wrapper .pt100 {
    padding-top: 100px;
}

#wrapper .pt110 {
    padding-top: 110px;
}

#wrapper .pt120 {
    padding-top: 120px;
}

#wrapper .pt130 {
    padding-top: 130px;
}

#wrapper .pt140 {
    padding-top: 140px;
}

#wrapper .pt150 {
    padding-top: 150px;
}

#wrapper .wd20 {
    width: 20%;
}

#wrapper .wd40 {
    width: 40%;
}

#wrapper .wd60 {
    width: 60%;
}

#wrapper .wd65 {
    width: 65%;
}

#wrapper .wd75 {
    width: 75%;
}

#wrapper .wd80 {
    width: 80%;
}

#wrapper .wd100 {
    width: 100%;
}


/*  配置  */

.flex-nml {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.flex-btw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-vcnt {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.text-center {
    text-align: center;
}